/*Styles.css*/

p{
	color: white;
	font-size

color: white;
font-size: 22px;
}



body {
	color: yellow
	text-decoration: none;
}



img {
height: 235px;
border-style: inset;
border-width: 6px;
border-color: black;
border-radius: 15;
}

body{
background-color: pink;
}

header{
	background-color: white;
	color: white:
	padding: 20px
	text-align: center;
}